[submodule "themes/hugo-theme-air"]
	path = themes/hugo-theme-air
	url = https://github.com/syui/hugo-theme-air.git
[submodule "themes/hugo-strata"]
	path = themes/hugo-strata
	url = https://github.com/digitalcraftsman/hugo-strata-theme.git
